<section class="bg-dark border-radius-1 text-white padded padded-t-1 padded-b-05">

  <footer class="capped-width grid-spaceAround-middle">

    <nav class="col-12 center">
      <a href="/"> Start </a>
      <a href="/ueber-mich.html"> Über mich </a>
      <a href="/torten.html"> Torten </a>
      <a href="/baeckerei.html"> Bäckerei </a>
      <a href="/faq.html"> FAQ </a>
      <a href="/kontakt.html"> Kontakt </a>
    </nav>

    <div class="col-12 center">
      <img src="/icons/SVG/gug-baeckerei-hauptlogo-weiss.svg" class="footer-logo">
    </div>

    <div class="col-9_xs-12-bottom right padded-b-05 show-xs">
      <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      <!-- <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a>  -->
      <div>  
        <a href="mailto:hallo@gugbaeckerei.ch" class="email-footer block"> hallo@gugbaeckerei.ch </a>
      </div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p class="hide-xs"> ©gug Bäckerei 2026</p>
   </div>

    <div class="col-3_xs-12-middle left xs-right padded-t-1 padded-b-05">
      <p class="editable size-09"> Web Design, Grafikdesign und <br class="show-sm"> Fotografie von <br><a href="https://www.pajurama.com" target="_blank" class="pajurama-logo"> <img src="/icons/pajurama-hauptlogo-weiss.svg" class="pajurama-logo"> </a> </p>
      <p class="show-xs"> ©gug Bäckerei 2026</p>
   </div>

    <div class="col-9_xs-12-bottom right padded-b-05 hide-xs">
      <a href="{{site.data.site-settings.social.instagram_url}}" target="_blank"> <i class="fa-brands fa-instagram"></i> </a>
      <a href="{{site.data.site-settings.social.facebook_url}}" target="_blank"> <i class="fa-brands fa-facebook"></i> </a>
      <a href="{{site.data.site-settings.social.linkedin_url}}" target="_blank"> <i class="fa-brands fa-linkedin"></i> </a> 
      <div> <a href="mailto:hallo@gugbaeckerei.ch" class="email-footer block"> hallo@gugbaeckerei.ch </a></div>
      <a href="/impressum" class="padded-r-1 subtle"> Impressum </a>
      <a href="/datenschutz" class="subtle"> Datenschutz </a>
      <p> ©gug Bäckerei 2026</p>
   </div>

  </footer>

</section>
  