
<section>
  <header class="grid capped-width">
    <div class="col-3">
      <div class="flex-center relative">
        <img src="/icons/blue-pattern-header.jpg" class="header-logo-pattern">
        <a href="/" class="logo"> <img src="/icons/SVG/gug-baeckerei-hauptlogo-weiss.svg" class="header-logo"> </a>
      </div>
    </div> 
    <nav class="col-9-top hide-md center nav-header">
      <a href="/"> Start </a>
      <a href="/ueber-mich.html"> Über mich </a>
      <a href="/torten.html"> Torten </a>
      <div class="dropdown">
        <a href="/baeckerei.html" class="dropdown-title"> Bäckerei </a>
        <div class="dropdown-content">
          <a href="/baeckerei/brote.html"> Brote </a>
          <a href="/baeckerei/klein-patisserie.html"> Klein Patisserie </a>
          <a href="/baeckerei/trockenstueckli.html"> Trockenstückli </a>
          <a href="/baeckerei/speisekarte.html"> Speise- und Getränkekarte </a>
        </div>
      </div>
      <a href="/kontakt"> Kontakt </a>
    </nav> 
    <div class="col-7 right show-md">
      <div class="burger-button">
        <span class="burger-top"></span>
        <span class="burger-middle"></span>
        <span class="burger-bottom"></span>
    </div>
    </div>
  </header>
</section>

  
<div class="mobile-menu"> 
  <div class="mobile-logo">
    <img data-src="/images/logos/r-logo.png" class="lazy">
  </div>
  <nav> 
      <a href="/"> Start </a>
      <a href="/ueber-mich.html"> Über mich </a>
      <a href="/torten.html"> Torten </a>
      <div class="dropdown">
        <a href="/baeckerei.html" class="dropdown-title"> Bäckerei </a>
        <div class="dropdown-content">
          <a href="/baeckerei/brote.html"> Brote </a>
          <a href="/baeckerei/klein-patisserie.html"> Klein Patisserie </a>
          <a href="/baeckerei/trockenstueckli.html"> Trockenstückli </a>
          <a href="/baeckerei/getraenke.html"> Getränke </a>
        </div>
      </div>
      <a href="/kontakt"> Kontakt </a>
  </nav>
</div> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 


<!-- 
  {% for link in site.archives %}
              <a href="{{link.url}}"> {{ link.category | capitalize }} </a>
          {% endfor %}

--> 